html {
  background-color: rgb(53, 53, 53);
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@keyframes LR {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

div.header {
  animation-name: OU;
  animation-duration: 1s;
  width: 100%;
  background: linear-gradient(to bottom, white 95%, transparent);
  border: none;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

img.logo {
  width: auto;
  height: 7vh;
  margin-left: 0.625rem;
}

@keyframes OU {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

p.txt1 {
  margin-left: 0.625rem;
  font-size: 3vh;
}

h1.txt2 {
  animation-name: LR;
  animation-duration: 1s;
  color: white;
  font-weight: 300;
  margin-left: 0.625rem;
  font-size: 4vh;
}

p.txt3 {
  animation-name: LR;
  animation-duration: 1s;
  margin-left: 0.625rem;
  color: white;
  font-weight: 1;
  font-size: 2.5vh;
}

hr.trenn1 {
  width: 100%;
  height: 0.125rem;
  border: none;
  background: linear-gradient(to right, white, transparent);
  margin-left: 0.625rem;
  animation-name: LR;
  animation-duration: 1s;
}

p.txt4 {
  animation-name: LR;
  animation-duration: 1s;
  color: white;
  margin-left: 0.625rem;
  font-weight: 1;
  font-size: 1.6vh;
}

button.btn1 {
  margin-left: 0.625rem;
  animation-name: LR;
  animation-duration: 1s;
  width: fit-content;
  color: white;
  border-radius: 100px;
  background: none;
  border: 0.0625rem white solid;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
}

button.btn1:hover {
  color: rgb(145, 145, 145);
  border: 0.0625rem rgb(145, 145, 145) solid;
}

button.btn2 {
  margin-left: auto;
  margin-right: 1.25rem;
  background: none;
  border: 0.0625rem black solid;
  border-radius: 100px;
  font-size: 2.2vh;
  cursor: pointer;
  transition: 0.1s;
}

button.btn2:hover {
  color: rgb(145, 145, 145);
  border: 0.0625rem rgb(145, 145, 145) solid;
}

.page {
  display: none;
}

button.btn3 {
  margin-left: 0.625rem;
  animation-name: LR;
  animation-duration: 1s;
  width: fit-content;
  color: white;
  border-radius: 100px;
  background: none;
  border: 0.0625rem white solid;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 3vh;
  cursor: pointer;
  transition: 0.1s;
}

button.btn3:hover {
  color: rgb(145, 145, 145);
  border: 0.0625rem rgb(145, 145, 145) solid;
}

img.img1 {
  margin-left: 0.625rem;
  animation-name: LR;
  animation-duration: 1s;
  border-radius: 2vh;
  width: auto;
  height: 30vh;
  box-shadow: 0 0 15px white;
  max-width: 94%;
}

table {
  border-collapse: collapse;
  animation-name: LR;
  animation-duration: 1s;
  color: white;
  font-weight: 1;
  margin-left: 0.625rem;
  font-size: 2.4vh;
  max-width: 100%;
}

th,
td {
  border: 0.0625rem white solid;
  text-align: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

thead th {
  background-color: white;
  color: black;
  border: 0.0625rem black solid;
}

button.btn4 {
  margin-left: 0.625rem;
  animation-name: LR;
  animation-duration: 1s;
  width: fit-content;
  color: white;
  border-radius: 100px;
  background: none;
  border: 0.0625rem white solid;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 3vh;
  cursor: pointer;
  transition: 0.1s;
}

button.btn4:hover {
  color: rgb(145, 145, 145);
  border: 0.0625rem rgb(145, 145, 145) solid;
}
